.sidebar {
  width: 220px;
  background: #1f2937;
  padding: 20px;
}


.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 14px;
}

.sidebar a {
  color: #9ca3af;
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 8px 12px;
  border-radius: 6px;
}

.sidebar a:hover {
  background-color: #1f2937;
  color: white;
}

.sidebar a.active {
  background-color: #2563eb;
  color: white;
}
.sidebar {
  width: 220px;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 70px;
}
